[submodule "assignment-autotest"]
	path = assignment-autotest
	url = https://github.com/cu-ecen-aeld/assignment-autotest.git
[submodule "base_external/buildroot"]
	path = base_external/buildroot
	url = https://git.busybox.net/buildroot/
